.Skils{
    padding: 60px 55px;
    background-color:  #141413;
    color: white;
    opacity: 0;
    animation: appearance 1s  ease-in forwards;
    animation-delay: 2s;

    h1{
        padding-bottom: 40px;
        font-size: 24px;
    }

    h2{
        font-size: 20px;
        padding-bottom: 20px;
    }

    .technologies{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 10px;
        gap: 30px 20px;

        .Container__technologies{
            display: flex;
            justify-content: space-between;
            background-color: gray;
            align-items: center;
            border-radius: 5px;
            padding-right: 2px;
            width: 100%;
            
            .skils{
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-radius: 3px 5px 5px 3px;
                padding: 2px 5px;
            }

            .TypeScript{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilTypeScript 1s ease  forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilTypeScript {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 85%;
                    }
                }
            }

            .JavaScript{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilJavaScript 1s ease  forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilJavaScript {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 90%;
                    }
                }
            }

            .SCSS{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilSCSS 1s ease forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilSCSS {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 90%;
                    }
                }
            }

            .Tailwind{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilSCSS 1s ease forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilSCSS {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 85%;
                    }
                }
            }

            .Html{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilHtml 1s ease  forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilHtml {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 95%;
                    }
                }
            }

            .React{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilReact 1s ease  forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilReact {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 90%;
                    }
                }
            }

            .GitHub{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilGit 1s ease  forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilGit {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 85%;
                    }
                }
            }

            .Jest{
                width: 0%;
                background-color: #252525;
                animation: AnimSkilJest 1s ease  forwards;
                animation-delay: 2.5s;
                @keyframes AnimSkilJest {
                    1%{
                        width: 0%;
                    } 

                    100%{
                        width: 75%;
                    }
                }
            }

        }
    }

    @media (max-width: 950px) {
        .technologies{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 10px;
            gap: 30px 20px;
        }
    }

    @media (max-width: 700px) {
        .technologies{
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            gap: 20px;
        }
    }

    .soft_skils{
        display: flex;
        flex-direction: column;
        padding-top: 50px;

        ul{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            padding-left: 15px;

            li{
                list-style:disc;
                p{
                    font-size: 18px;
                }
            }
            
        }
    }
}