.Skils{
    padding: 60px 55px;
    background-color:  #141413;
    color: white;
    opacity: 0;
    animation: appearance 1s  ease-in forwards;
    animation-delay: 2s;

    h1{
        padding-bottom: 40px;
        font-size: 24px;
    }

    .Skils__row{
        display: flex;
        flex-direction: column;

        row-gap: 20px;

        h1{
            font-size: 24px;
            padding-bottom: 0px;
        } 

        ul>li{
            padding: 10px 0px;
            font-size: 16px;
        }
    }
}