.About-me{
    padding: 80px 50px;
    background-color: black;
    color: white;
    opacity: 0;
    animation: appearance 1s  ease-in forwards;
    animation-delay: 1s;

    h1{
        padding-bottom: 40px;
        font-size: 24px;
    }

    h2{
        max-width: 900px;
        width: 100%;
        font-size: 18px; 
        text-align: left;
    }

    @keyframes appearance {
        1%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }
}