footer{
    padding: 60px 55px;
    background-color:  #141413;
    color: white;
    border-bottom: 1px solid rgb(0, 0, 0);
    opacity: 0;
    animation: appearance 1s  ease-in forwards;
    animation-delay: 4s;

    h1{
        padding-top: 10px;
        font-size: 24px;
        text-align: left;
    }

    .body_education{
        display: flex;
        flex-direction: column;
        padding-top: 40px;

        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-left: 18px;

            li{
                list-style-type: disc;
                font-size: 18px;
            }
        }

    }
}