.ContactInformaton{
    padding: 60px 55px;
    background-color:  #141413;
    color: white;
    border-bottom: 1px solid rgb(0, 0, 0);
    opacity: 0;
    animation: appearance 1s  ease-in forwards;
    
    h1{
        padding-bottom: 40px;
        font-size: 24px;
    }

    .Contact-information_row{
        display: flex;
        justify-content: space-between;
        row-gap: 35px;
        padding-top: 40px;
        padding-bottom: 40px;

        .Contact-information_block{
            display: flex;
            align-items: center;
            column-gap: 10px;

            a{
                color: white;
                font-size: 16px;
            }
            
            h2{
                font-size: 18px;
            }

            a:hover{
                color: rgb(172, 172, 172);
            }

            .mail{
                font-size: 20px;
            }

            .phone{
                font-size: 20px;
            }

            .telegramm{
                font-size: 20px;
            }

            .time{
                font-size: 20px;
            }
        }
    }

    @media (max-width: 1000px) {
        .Contact-information_row{
            display: flex;
            flex-direction: column;
            row-gap: 35px;
            padding-top:  20px;
        }
    }

}